html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: sans-serif;
}

header {
    height: 100px;
    background: #111111;
    color: white;
    border-bottom: 2px solid #000;
}

nav > .navbar-toggler {
    position: absolute;
    right: 5px;
}

.row {
    margin-bottom: 30px;
}

.navbar {
    margin-bottom: 0px;
}

#content-container {
    padding-top: 1px;
    min-height: 75vh;
    background: white;
    text-align:center;
}

#content {
    padding-top: 40px;
    max-width: 100%;
    overflow: hidden;
    text-align:center;
    margin-top: 10px;
}

/*#table-container {
    margin-left: 2px;
    max-width: 100%;
    max-height: 500px !important;
    overflow: auto;
}*/

.table {
    text-align: center;
    margin: 0;
}

td, th {
    padding: 8px;
    border: 1px solid #ddd;
}

#timeline-div {
    border: 1px solid lightgrey;
    margin-bottom: 20px;
}

.role {
    color: red;
    padding: 7px !important;
}

.errorlist {
    padding: 0;
    padding-top: 10px;
    list-style: none;
    color: red;
}

.google-visualization-orgchart-node {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none;
}

a:hover {
    text-decoration: none;
}

a {color: rgb(38, 166, 154);}

a > .btn {
    padding: 20px;
}

button:hover {
    cursor: pointer;
}

.btn-dark {
    color: white;
    background-color: #343a40;
}

.btn-dark:hover {
    color: white;
    background-color: #23272b;
}

address {
    font-style: normal;
}
