<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block title %}{% endblock %}

        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

        {% block style %}{% endblock %}
        <style>
            .nav-wrapper a {
                color: black !important;
            }
        </style>
    </head>
    <body class="grey darken-4">
        <div class="navbar-fixed">
            <nav class="grey darken-4">
                <div class="nav-wrapper" style="background-color: #eee">
                    <a href="{% url 'home' %}" class="brand-logo left" style="margin-left: 50px;"><img style="height: 60px" src="{% static 'img/LogoFM.png' %}" alt=""></a>
                    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'organogram' %}">Organigramma</a></li>
                        <li><a href="{% url 'processes' %}">MacroProcessi</a></li>                        

                        {% if user.is_authenticated %}
                        <li><a href="{% url 'myprocesses' %}">I miei processi</a></li>

                        <ul id="account-dropdown" class="dropdown-content">
                          {% if user.is_superuser %}
                              <li><a href="/fantamarconi/admin/">Admin</a></li>
                              <li class="{% if request.path_info == '/register/' %} active{% endif %}"><a href="{% url 'register' %}">Registra</a></li>
                          {% endif %}
                          <li class="{% if request.path_info == '/profile/' %} active{% endif %}" ><a href="{% url 'view-profile' %}">Profilo</a></li>
                          <li class="{% if request.path_info == '/profile/edit/' %} active{% endif %}"><a href="{% url 'edit-profile'%}">Modifica profilo</a></li>
                          <li class="{% if request.path_info == '/logout/' %} active{% endif %}"><a href="{% url 'logout' %}">Logout</a></li>
                        </ul>

                        <li><a class="dropdown-button" href="#!" data-activates="account-dropdown">Account<i class="material-icons right">arrow_drop_down</i></a></li>
                        {% else %}
                        <li><a href="{% url 'login' %}">Login</a></li>
                        {% endif %}

                    </ul>
                    <ul class="side-nav" id="mobile-demo">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'organogram' %}">Organigramma</a></li>
                        <li><a href="{% url 'processes' %}">MacroProcessi</a></li>

                        {% if user.is_authenticated %}
                        <li><a href="{% url 'myprocesses' %}">I miei processi</a></li>

                        <ul id="account-dropdown-mobile" class="dropdown-content">
                            {% if user.is_superuser %}
                                <li><a href="/fantamarconi/admin/">Admin</a></li>
                                <li class="{% if request.path_info == '/register/' %} active{% endif %}"><a href="{% url 'register' %}">Registra</a></li>
                            {% endif %}
                            <li class="{% if request.path_info == '/profile/' %} active{% endif %}" ><a href="{% url 'view-profile' %}">Profilo</a></li>
                            <li class="{% if request.path_info == '/profile/edit/' %} active{% endif %}"><a href="{% url 'edit-profile'%}">Modifica profilo</a></li>
                            <li class="{% if request.path_info == '/logout/' %} active{% endif %}"><a href="{% url 'logout' %}">Logout</a></li>
                        </ul>

                        <li><a class="dropdown-button" href="#!" data-activates="account-dropdown-mobile">Account<i class="material-icons right">arrow_drop_down</i></a></li>
                        {% else %}
                        <li><a href="{% url 'login' %}">Login</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>

        <div id="content-container" style="position: relative">
			<div class="container" id="content">
                {% block content %}{% endblock %}
                <a href="{% url 'help' %}" target="_blank" class="btn-floating btn-large waves-effect waves-light green accent-4" style="position: fixed; bottom: 5%; right: 2%; font-size: 150%;">?</a>
			</div>
		</div>

        <footer class="page-footer grey darken-3 white-text">
          <div class="container">
            <div class="row">
              <div class="col l12 m12 s12">
                <h4>ITIS G. Marconi Verona</h4>
                <hr style="border: 1px solid white">
                <address>
                    P.le R. Guardini 1<br>
                    Verona, IT 37138<br>
                    <abbr title="Telefono">Tel:</abbr> +39 045 8101428<br>
                    <abbr title="Fax">Fax:</abbr> +39 045 573497<br>
                    <abbr title="Website">Site:</abbr> <a href="http://www.marconiverona.gov.it/" target="blank">marconiverona.gov.it</a>
                </address>
                <h6 class="center-align"><a href="/">Tutti i servizi</a></h6>
              </div>
            </div>
          </div>
          <div class="footer-copyright grey darken-4 white-text">
            <div class="container center-align">
            © 2017-2018 Feola Emanuele, Tonin Davide
            </div>
          </div>
        </footer>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
        <!-- JQuery ui Javascript-->
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script>
            $(document).ready(function() {
                $.datepicker.setDefaults({
                    dateFormat: "yy-mm-dd",
                    changeYear: true,
                    yearRange: ((new Date()).getFullYear()-1)+":"+((new Date()).getFullYear()+1)
                });
                $(".button-collapse").sideNav();
                $('.parallax').parallax();
            });
        </script>
        {% block script %}{% endblock %}
    </body>
</html>
