{% extends "base.html" %}
{% load static %}
{% block title %} <title>Fantamarconi | MODIFICA PROFILO</title> {% endblock %}

{% block content %}
    {% if not user.is_authenticated %}
    <div class="row">
        <h1>Non ti sei ancora loggato</h1>
    </div>
    {% endif %}

    {% if user.is_authenticated %}
    <div class="row">
        <h3 class="col-md-12 text-center">Modifica Profilo</h3>
    </div>
    
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        <a class="btn-floating btn-large waves-effect waves-light orange lighten-2" onclick="document.forms[0].submit();"><i class="material-icons">mode_edit</i></a>            
        <br>
        <br>
        <br>
    </form>  
    {% endif %}
{% endblock %}

{% block script %}
{% endblock %}
