{% extends "base.html" %}
{% load static %}
{% block title %} <title>Fantamarconi | LOGIN</title> {% endblock %}

{% block content %}
<div class="row">
    <h1 class="col-md-12 text-center">LOGIN</h1>
</div>
<div class="row">
    <div class='justify-content-md-center col-sm-6 offset-sm-3'>
        <form method="post">
            {% csrf_token %}
            <div class='col-sm-12 errorlist'>
                {% if form.errors %}
                    Username o password non corretti. Riprovare.
                {% endif %}
            </div>
            <br />
            <div class="col-sm-12">
                {{ form.username.errors }}
                <div class="input-group">
                    <span class="input-group-addon">Username</span>
                    {{ form.username }}
                </div>
            </div>
            <br />
            <div class="col-sm-12">
                {{ form.password.errors }}
                <div class="input-group">
                    <span class="input-group-addon">Password</span>
                    {{ form.password }}
                </div>
            </div>
            <br />

            <button class="btn btn-primary col-sm-8" type="submit">LOGIN</button
        </form>
    </div>
</div>

{% endblock %}

{% block script %}
<script>
    $(document).ready(function() {
        $("input").each( function(index, element) {
            $(element).attr("class", "form-control");
        });
    });
</script>
{% endblock %}
