{% extends "base.html" %}
{% load static %}
{% block title %} <title>Fantamarconi | LOGIN</title> {% endblock %}

{% block content %}
<div class="row">
    <h2 class="col s12 l12 m12 text-center">LOGIN</h2>
</div>
<div class="row">
    <form class="col s12 m8 l8 offset-m2 offset-l2" method="post">
        {% csrf_token %}
        <div class='col s12 errorlist'>
            {% if form.errors %}
                Username o password non corretti. Riprovare.
            {% endif %}
        </div>
        <div class="row">
            <div class="col s12">
                {{ form.username.errors }}
                <div class="input-field col s12">
                    <label for="id_username">Username</label>
                    {{ form.username }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                {{ form.password.errors }}
                <div class="input-field col s12">
                    <label for="id_password">Password</label>
                    {{ form.password }} 
                </div>
            </div>
        </div>
        <br />
        <button class="waves-effect waves-light btn-large col s10 m10 l4 offset-s1 offset-m1 offset-l4 orange" type="submit">LOGIN</button>
    </form>
    </div>
</div>

{% endblock %}

{% block script %}
{% endblock %}
