{% extends "base.html" %}
{% load static %}
{% block title %} <title>Fantamarconi | LOGIN</title> {% endblock %}

{% block content %}
<div class="row">
    <div class='justify-content-md-center col-sm-6 offset-sm-3'>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <br />
            <button class="btn btn-primary col-sm-12" type="submit">LOGIN</button
        </form>
    </div>
</div>

{% endblock %}

{% block script %}
<script>
    $(document).ready(function() {
        $("input").each( function(index, element) {
            $(element).attr("class", "form-control");
        });
    });
</script>
{% endblock %}
