{% extends "base.html" %}
{% load static %}
{% block title %} <title>Fantamarconi | ORGANIGRAMMA</title> {% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/loader.css' %}">
{% endblock %}

{% block content %}
<br />
<div class="spinner" id='spinner'>
    <div class="double-bounce1"></div>
    <div class="double-bounce2"></div>
</div>
<div id='organogram'>

</div>
{% if user.is_authenticated and user.is_superuser %}
    <br />
    <div class='row' id='add-organogram'>
        <a class="btn-floating btn-large waves-effect waves-light orange lighten-2" href='{% url 'add-organogram' %}' target='_blank'><i class="material-icons">add</i></a>
    </div>
{% endif %}
{% endblock %}

{% block script %}
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="{% static 'js/organogram.js' %}"></script>
    <script>
        var organogram_data;

        $(document).ready( function() {
            $.get("{% url 'get_organogram' %}",
            {
              dataType: "json"
            }
            ).done(function(data) {
                if (data.error !== undefined & data.error !== "") {
                    $('#organogram').append("<div class='row'><h4 class='col-sm-12 text-warning text-center'>Attenzione: "+data.error+"</h4></div>");
                } else {
                    organogram_data = data;
                    google.charts.load('current', {packages:["orgchart"]});
                    google.charts.setOnLoadCallback(draw_organogram);
                }
            })
            .fail(function() {
                $("<div class='row'><h4 class='col-sm-12 text-danger text-center'>Errore durante il caricamento dei dati. Riprovare o contattare l'amministratore.</h4></div>").insertBefore('#add-organogram');
            })
            .always( function() {
                $('#spinner').remove();
            });
        });
    </script>
{% endblock %}
