{% extends "base.html" %}
{% load static %}
{% block title %} <title>Fantamarconi | PROCESSI</title> {% endblock %}

{% block content %}
    {% if macro_processes_error != null %}
        <div class='row' id='message-row'><h4 class='col s12 text-center' style="color: red;">{{ macro_processes_error }}</h4></div>
    {% else %}
    <div class="table-container">
        <table id='macroprocesses-table' class='highlight centered responsive-table'>
            <thead>
                <tr class="grey darken-4 white-text">
                    <th>NOME</th>
                    <th>REFERENTE</th>
                    <th>EMAIL</th>
                    <th>DATA INIZIO</th>
                    <th>DATA FINE</th>
                </tr>
            </thead>
            <tbody>
                {% for row in processes %}
                    <tr>
                        {% if request.user == row.process.referent or request.user.is_superuser %}
                        <td class="align-middle"><a href="{{ row.process.get_absolute_url }}">{{ row.process.name }}</a></td>
                        {% else %}
                        <td class="align-middle">{{ row.process.name }}</a></td>
                        {% endif %}

                        <td class="align-middle"><a href="{{ row.process.get_timeline_by_referent }}" style="color: #1565c0 !important">{{ row.referent_name }} {{ row.referent_surname }}</a></td>
                        <td class="align-middle">{{ row.referent_email }}</td>
                        <td class="align-middle">{{ row.process.start_date }}</td>
                        <td class="align-middle">{{ row.process.end_date }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
    <br />
    {% if user.is_authenticated and user.is_superuser %}
        <br />
        <div class='row' id='add-process'>
            <a class='waves-effect waves-light btn-large col s10 m10 l4 offset-s1 offset-m1 offset-l4 grey darken-4' href='add-process' target="_blank">+ AGGIUNGI MACRO PROCESSO</a>
        </div>
    {% endif %}
    {% if page == "myprocesses" %}
        <div class="divider"></div>
        <br />
        {% if timeline_processes_error != null %}
            <div class='row' id='message-row'><h4 class='col s12 text-center blue-text text-darken-4'>{{ timeline_processes_error }}</h4></div>
        {% else %}
        <div class="table-container">
            <table id='processes-table' class='highlight centered responsive-table'>
                <thead>
                    <tr class="grey darken-4 white-text">
                        <th>MACRO PROCESSO</th>
                        <th>REFERENTE</th>
                        <th>EMAIL</th>
                        <th>COMPITO</th>
                        <th>DATA INIZIO</th>
                        <th>DATA FINE</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in timeline_processes %}
                        <tr>
                            <td class="align-middle"><a href="{{ row.process.get_absolute_url }}">{{ row.process.process }}</a></td>
                            <td class="align-middle"><a href="{{ row.process.get_timeline_by_referent }}" style="color: #1565c0 !important">{{ row.referent_name }} {{ row.referent_surname }}</a></td>
                            <td class="align-middle">{{ row.referent_email }}</td>
                            <td class="align-middle">{{ row.process.job }}</td>
                            <td class="align-middle">{{ row.process.start_date }}</td>
                            <td class="align-middle">{{ row.process.end_date }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        {% endif %}
        <br />
        {% if user.is_authenticated and user.is_superuser %}
            <br />
            <div class='row' id='add-process'>
                <a class='waves-effect waves-light btn-large col s10 m10 l4 offset-s1 offset-m1 offset-l4 grey darken-4' href='{% url 'add-timeline' %}' target="_blank">+ AGGIUNGI PROCESSO</a>
            </div>
        {% endif %}
    {% endif %}


{% endblock %}
