{% extends "base.html" %}
{% load static %}
{% block title %} <title>Fantamarconi | PROCESSI</title> {% endblock %}

{% block content %}
    {% if error != null %}
        <div class='row' id='message-row'><h4 class='col s12 text-center' style="color: red;">{{ error }}</h4></div>
    {% else %}
        <table id='result-table' class='highlight responsive-table'>
            <thead>
                <tr class="blue-grey darken-4 white-text">
                    <th class="center-align">NOME</th>
                    <th class="center-align">REFERENTE</th>
                    <th class="center-align">EMAIL</th>
                    <th class="center-align">DATA INIZIO</th>
                    <th class="center-align">DATA FINE</th>
                </tr>
            </thead>
            <tbody>
                {% for row in processes %}
                    <tr>
                        {% if request.user == row.process.referent or request.user.is_superuser %}
                        <td class="align-middle"><a href="{{ row.process.get_absolute_url }}">{{ row.process.name }}</a></td>
                        {% else %}
                        <td class="align-middle">{{ row.process.name }}</a></td>
                        {% endif %}

                        <td class="align-middle">{{ row.referent_name }} {{ row.referent_surname }}</td>
                        <td class="align-middle">{{ row.referent_email }}</td>
                        <td class="align-middle">{{ row.process.start_date }}</td>
                        <td class="align-middle">{{ row.process.end_date }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if user.is_authenticated and user.is_superuser %}
        <br />
        <div class='row' id='add-process'>
            <a class='waves-effect waves-light btn-large col s4 offset-s4 blue-grey darken-4' href='{% url 'add-process' %}' target="_blank">+ AGGIUNGI PROCESSO</a>
        </div>
    {% endif %}
{% endblock %}
