{% extends "base.html" %}
{% load static %}
{% block title %} <title>Fantamarconi | PROFILO</title> {% endblock %}

{% block content %}
{% if not user.is_authenticated %}
    <div class="row">
        {% csrf_token %}
        <h1>Non ti sei ancora loggato</h1>
    </div>
    {% endif %}
    {% if user.is_authenticated %}
    <div class="row">
        <h3 class="col s12">Il mio profilo:</h3>
    </div>
    <div class="row">
        <table class='bordered centered striped responsive-table'>
            <tbody>
                <tr>
                    <td>NOME</td>
                    <td class='profile-table'>{{ user.first_name }}</td>
                </tr>
                <tr>
                    <td>COGNOME</td>
                    <td class='profile-table'>{{ user.last_name }}</td>
                </tr>
                <tr>
                    <td>EMAIL</td>
                    <td class='profile-table'>{{ user.email }}</td>
                </tr>
                <tr>
                    <td>USERNAME</td>
                    <td class='profile-table'>{{ user.username }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    {% endif %}
{% endblock %}
