{% extends "base.html" %}
{% load static %}
{% block title %} <title>Fantamarconi | PROFILO</title> {% endblock %}

{% block content %}
{% if not user.is_authenticated %}
    <div class="row">
        {% csrf_token %}
        <h1>Non ti sei ancora loggato</h1>
    </div>
    {% endif %}
    {% if user.is_authenticated %}
    <div class="row">
        <h1 class="col-md-12 text-center">IL MIO PROFILO:</h1>
    </div>
    <div class="row">
        <table class='table table-striped table-bordered'>
            <tbody>
                <tr>
                    <td>NOME</td>
                    <td>{{ user.first_name }}</td>
                </tr>
                <tr>
                    <td>COGNOME</td>
                    <td>{{ user.last_name }}</td>
                </tr>
                <tr>
                    <td>EMAIL</td>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <td>USERNAME</td>
                    <td>{{ user.username }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    {% endif %}
{% endblock %}
