{% extends "base.html" %}
{% load static %}
{% block title %} <title>Fantamarconi | REGISTRA</title> {% endblock %}

{% block content %}
<div class="row">
    <div class='justify-content-md-center col-sm-10 offset-sm-1'>
        <form method="post">
            {% csrf_token %}
            <div class="col-sm-12">
                {{ form.username.label_tag }}
                {{ form.username.error }}
                {{ form.username }}
            </div>
            <div class="col-sm-12">
                {{ form.password1.label_tag }}
                {{ form.password1.error }}
                {{ form.password1 }}
            </div>
            {{ form.as_p }}
            <br />
            <button class="btn btn-primary col-sm-12" type="submit">REGISTRA</button>
        </form>
    </div>
</div>

{% endblock %}

{% block script %}
<script>
    $(document).ready(function() {
        $("input").each( function(index, element) {
            $(element).attr("class", "form-control");
        });
    });
</script>
{% endblock %}
