{% extends "base.html" %}
{% load static %}
{% block title %} <title>Fantamarconi | TIMELINE</title> {% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/loader.css' %}">
{% endblock %}

{% block content %}
<div class="row" id='select-referent'>

        <h4>Seleziona referente</h4>

        <form method="get">
            <div class="row">
                <div class="input-field col s8 offset-s2">
                    <select onchange="select_referent()">
                        <option value="" disabled selected>Scegli un referente</option>
                        {% for user in users %}
                        <option value="{{ user.name}}_{{ user.surname }}">{{ user.name }} {{ user.surname }}</option>
                        {% endfor %}                      
                    </select>
                    <label>Referente</label>
                  </div>
    
            </div>
            
            <a class="btn waves-effect waves-light col s10 m10 l4 offset-s1 offset-m1 offset-l4 orange darken-3" href="{% url 'timeline' %}">VEDI TUTTI</a>
        </form>

        <br />
        <div class="spinner" id='spinner'>
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
</div>

{% if user.is_authenticated and user.is_superuser %}
    <div class='row' id='add-timeline'>
        <a class='waves-effect waves-light btn-large col s10 m10 l4 offset-s1 offset-m1 offset-l4 grey darken-4' href='{% url 'add-timeline' %}' target="_blank">+ AGGIUNGI TIMELINE</a>
    </div>
{% endif %}

{% endblock %}

{% block script %}
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="{% static 'js/timeline.js' %}"></script>
    <script>
        var timeline_data;

        function load_data() {
            first_name = "";
            last_name = "";
            try {
                referent = $('select').val().split('_');
                first_name = referent[0];
                last_name = referent[1];
            } catch (err) {

            }
            
            person_selected = first_name

            if (last_name !== "" ) {
                person_selected += ' ' + last_name;
            }

        	$.get("{% url 'get_timeline' %}",
                {
                    first_name: first_name,
                    last_name: last_name,
                    dataType: "json"
                }
                ).done(function(data) {
                    if (data.error !== undefined & data.error !== "") {
                        $("<div class='row' id='message-row'><h4 class='col s12 text-warning'>Attenzione: "+data.error+"</h4></div>").insertAfter('#select-referent');
                    } else {
                        timeline_data = data;
                        google.charts.load('current', {packages:["timeline"]});
                        google.charts.setOnLoadCallback(draw_timeline);
                    }
                })
                .fail(function() {
                    $("<div class='row' id='message-row'><h4 class='col s12 text-danger'>Errore durante il caricamento dei dati. Riprovare o contattare l'amministratore.</h4></div>").insertAfter('#select-referent');
        	})
            .always( function() {
                $('#spinner').remove();
            });
        }

        $(document).ready( function() {
            $('select').material_select();
            $('.tooltipped').tooltip({delay: 50}); // for toast

            var url = window.location.href;
            if (url[url.length-1] !== "/") {
                url+="/";
            }
            var url = url.split('/');
            var referent = url[url.length-2];
            
            $.get("{% url 'get_user_info' %}",
                {
                    username: referent,
                    dataType: "json"
                }
                ).done(function(data) {
                    if (data.error !== undefined & data.error !== "") {
                        Materialize.toast('<span>'+data.error+' Caricamento di tutti i processi!</span>', 3000)
                        load_data();
                    } else {
                        $('label').addClass('active');
                        $("select option[value='"+data.name+"_"+data.surname+"']").attr('selected', 'selected');
                        $('select').material_select();                      
                        load_data();
                    }
                })
                .fail(function() {
                    $("<div class='row' id='message-row'><h4 class='col s12 text-danger'>Errore durante il caricamento dei dati. Riprovare o contattare l'amministratore.</h4></div>").insertAfter('#select-referent');
        	})
            .always( function() {
                $('#spinner').remove();
            });            
        });
    </script>
{% endblock %}
